

/* --------------------------------- EJERCICIO 8 --------------------------------- */

.contenedor-ej-8{
    display: flex;
    flex-direction: column;
    align-items:    center;
}

.imagen-container-ej-8{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.img-ej-8{
    width: 50px;
    height: 50px;
}

.img-ej-8:hover{
    cursor: pointer;
}

.imagen-maximizada-ej-8{
    width: 500px;
    height: 500px;

}

/* ------------------------- BOTONES INICIO - FIN ------------------------------------- */


.btn-container{
    top: 10px;
    right: 10px;
    position: fixed;
    
}

.btn-inicio{
  
}

.btn-fin{

}











/* ------------------------------------------------------------------------------------- */









/* -------------------------------------------------------------------------------- */
